[user]
	name = {{ .GitName }}
	email = {{ .GitEmail }}
{{- if .GitGPGKey }}
	signingkey = {{ .GitGPGKey }}
{{- end }}
[core]
	autocrlf = input
	pager = hunk pager
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[push]
	autoSetupRemote = true
[help]
	autocorrect = immediate
{{- if .GitGPGKey }}
[commit]
	gpgsign = true
{{- end }}
